.signin {
  height: 100vh;
  width: 100vw;
  //màu nền mặc định
  // background: linear-gradient(50deg, #edd7ff 10%, #d8e7ff 70%);
  background: url("../../../../assets/images/backgorund-signin.jpg") no-repeat;
  background-size: cover;
  background-position: center;

  .signin__form {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    background-color: white;
    width: 450px;
    transform: translateY(120px);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    a {
      margin-left: 5px;
    }

    .form-data {
      display: flex;
      flex-direction: column;
      gap: 7px 0;

      .ant-btn-lg {
        border-radius: 5px !important;
        background: linear-gradient(90deg, #136cb5 0%, #49bbbd 100%) !important;
        color: white;
      }
    }

    .form-catag {
      display: flex;
    }
  }

  &-catag {
    margin: 0px !important;
  }

  .fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg)
      73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
  }

  .button-form {
    .login-form-button ~ .login-form-button {
      margin-top: 15px;
    }

    .login-form-button {
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      font-size: 17px;
      line-height: 20px;
    }
  }

  &-signup {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    font-size: 13.5px;
    line-height: 20px;

    .signup-link {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .signin {
    .signin__form {
      width: 100%;
      height: 100%;
      transform: translateY(0);
      justify-content: start;
    }
  }
}
