.admin-setting-page {
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;

    .setting-content {
        margin: 5%;

        .setting-contact {
            border-right: 2px solid lightgray;
        }
    }
}