.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 50px;
}

.aboutBlock .icon {
  font-size: 60px;
  color: #369fba;
  margin: 0 10px;
}

.aboutBlock .content {
  text-align: center;

  h2 {
    font-weight: 900;
    font-size: xx-large;
    color: #05718b;
  }
}

.img-back {
  width: 50%;
  margin: 0 auto;
  display: block;
}
