.show-avatar {
  border-right: 1px solid lightgray;
}

.show-infor-account {
  margin-top: 20px;

  .radio-option {
    border: 1px solid lightgray;
    padding: 7px;
  }

  button {
    border-radius: 5px;
  }
}
