.activity-statistics {
    width: 90%;
    margin: 0 auto;
    padding-top: 2%;

    .bar-chart {
        width: 80%;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    .doughnut-chart {
        width: 30%;
        margin: 0 auto;
        padding-top: 2%;
        padding-bottom: 5%;
    }
}