.ant-picker-large {
  width: 100%;
}

.btn-save-infor {
  background-color: #30afd7;
  color: white;
}

.btn-change-password {
  background-color: rgb(159, 159, 159);
  color: white;
}

.infor-form {
  padding: 10px 20px;
}

.radio-option {
  border: none !important;
}
