.sign-up {

    .signup__logo {
        background: linear-gradient(50deg, #EDD7FF 10%, #D8E7FF 70%);
        text-align: center;
        height: auto;
    }
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {}